<h2>Вас приветствует команда сервиса <a href="https://ytuber.ru/">Ytuber.ru</a></h2>
<p>За последнее время у нас произошли следующие изменения изменения:</p>
<ul>
	<li>Решены проблемы со стабильностью работы сервиса</li>
	<li>Убраны лимиты по переводам и по возвратам за незасчитанные просмотры</li>
	<li>Запущен клиент по просмотрам в виде <a href="https://chrome.google.com/webstore/detail/ytuber-client/ccfjgjjjagaahpmldokekpgjilakeefc?hl=ru">расширения браузера Chrome</a></li>
	<li>Добавлен новый тип задачи <b>YT Ответы</b> –– с помощью данного типа задачи, вы теперь можете заказать ответы на комментарии к видео</li>
</ul>
<p>Более подробную информацию вы можете найти на <a href="https://ytuber.ru/">сайте сервиса</a> в панели пользователя.</p>
<p style="font-size: 0.9em; color: #7d7d7d;">Если вы не хотите получать уведомления о новостях сервиса, вы можете их отключить в настройках на сайте.</p>